# 🤝 Agreement Metrics
Shared notebook version 1.0

## 📂 Add `src` to path

In [1]:
import sys

sys.path.append("../src")

## 📑 Import Clauses

In [14]:
import json
import os
import pickle
import pandas as pd
import simpledorff
from os.path import join as pjoin

import datautils

## 🌐 Loading the uncleaned ČTK data

In [45]:
df = pd.read_csv("../data/label.csv")
df_wo_delclaims = pd.read_csv("../data/label_wo_delclaims.csv")
df_wo_delclaims_notnull = pd.read_csv("../data/label_wo_delclaims_notnull.csv")

In [44]:
df

,id,user,claim,label,sandbox,oracle,flag,condition,created_at,updated_at,deleted,note
0,3798,113,3309,REFUTES,0,0,0,NaN,1616434560,1629361503,1,Zkouška s
1,6204,166,3109,NOT ENOUGH INFO,0,0,0,NaN,1617224133,1631715563,0,zdoublovaný důkaz
2,2317,99,2560,REFUTES,0,0,0,NaN,1615836936,1632997453,0,zbytečně rozšířený důkaz
3,4371,135,3618,SUPPORTS,0,0,0,NaN,1616669481,1632569410,0,zbytečně rozšířený důkaz
4,2838,80,2931,REFUTES,0,0,0,NaN,1615976270,1631612963,0,zbytečně rozšířený důkaz
...,...,...,...,...,...,...,...,...,...,...,...,...
6276,5375,128,336,SUPPORTS,0,0,0,NaN,1616955397,1616955397,0,NaN
6277,5631,160,3963,SUPPORTS,0,0,0,NaN,1616962401,1632047576,1,NaN
6278,5887,139,3684,REFUTES,0,0,0,NaN,1617136383,1617136383,0,NaN
6279,6143,136,3684,REFUTES,0,0,0,NaN,1617216687,1632217544,1,NaN
6280,6399,110,1344,REFUTES,0,0,0,NaN,1617829946,1617829946,0,NaN

## 🧮 Calculate using Simpledorff package

### ✴ All labels

In [52]:
simpledorff.calculate_krippendorffs_alpha_for_df(df,experiment_col='claim',
                                                 annotator_col='user',
                                                 class_col='label')

0.5631814159438078

### 🗑 Neglecting those of deleted claims

In [53]:
simpledorff.calculate_krippendorffs_alpha_for_df(df_wo_delclaims,experiment_col='claim',
                                                 annotator_col='user',
                                                 class_col='label')

0.564200100627086

### 📭 Neglecting NULL's
This is more of a sanity check - this should be the same using Krippendorff's ⍺

In [57]:
simpledorff.calculate_krippendorffs_alpha_for_df(df_wo_delclaims_notnull,
                                                 experiment_col='claim',
                                                 annotator_col='user',
                                                 class_col='label')

0.564200100627086

## 📊 Measuring coverage proportion

This was ultimately done with SQL instead. See view **cross_annotation** and query count for label_count>1 vs general count(*)

In [55]:
cross_annotated=1775
total=3116
cross_annotated/total

0.5696405648267009